.*
!.gitignore

**/node_modules/
package-lock.json
**/vendor/
css/
*.phar
*.css
*.map
dist/
.gradle
**/build/
**/lib/
**/webapp/static

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/