@import '../../../../styles/elements.scss';


@media (max-width: 815px) {
  .table-column {
    min-width: 5px !important;
  }

  td {
    min-width: 5px !important;
    padding-right: 10px !important;
  }
}

.table-column {
  min-width: 100px !important;
}

.flex-table-parent {
  height: 100%;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  flex: 1;
}

//thead th {
//  position: sticky;
//  color: var(--white-color);
//  background: var(--dark-green-color);
//  top: 0;
//}
//
//th, td {
//  text-align: center;
//  padding: 5px 0;
//  font-size: 20px;
//}

//tbody tr {
//  &:nth-child(even) {
//    background: var(--gray-color);
//  }
//
//  &:hover {
//    background: linear-gradient(90deg, white, var(--blue-color) 50%, white);
//    transition: opacity 0.3s linear;
//  }
//}
//
