@import "../styles/elements";

.main-page {
  @extend .page;
}

@media (max-width: 700px) {
  .main-page {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.5fr 1fr;
    grid-template-areas:
        "header"
        "axis"
        "inputValues"
        "table";
  }
}

@media (min-width: 700px) {
  .main-page {
    grid-template-columns: auto 1fr;
    grid-template-rows: 0.1fr 1.2fr 2fr;
    grid-template-areas:
        "header header"
        "axis inputValues"
        "table table";
  }
}

@media (min-width: 1000px) {
  .main-page {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1.2fr 1fr 1fr;
    grid-template-areas:
        "header     header  header"
        "axis        table table"
        "inputValues table table"
        ".           table table";
  }
}

#canvas-container {
  grid-area: axis;
  display: flex;
  place-content: center;
}

.results-table {
  min-height: 0;
  grid-area: table;
}

.full-block {
  height: 100%;
  width: 100%;
}

#r-container {
  grid-area: r-container;
  display: flex;
}

.input-label {
  justify-self: center;
  align-self: center;
}

.pretty-checkboxes {
  justify-content: space-between;

  label {
    margin: 4px;
    background-color: var(--white-color);
    border-radius: 4px;
    border: 1px solid var(--blue-color);
    overflow: hidden;
    float: left;
    line-height: 2em;
    width: 2.5em;
    height: 2em;

    input {
      position: absolute;
      display: none;
      color: var(--white-color);

      &:checked + span {
        color: var(--white-color);
        background-color: var(--dark-green-color);
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
      }
    }

    span {
      text-align: center;
      padding: 1px 0;
      display: block;
    }
  }
}
