@import "styles/common/elements";
@import "styles/common/colors";
@import "styles/common/buttons";

.login-page {
  @extend .page;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-areas:
        "heading-area heading-area heading-area"
        " . form-area . "
        " . . . "
}

.login-heading {
  @extend .header;
  @extend .grid-section;
  grid-area: heading-area;
  justify-self: stretch;
}

.login-input-form {
  @extend .colored-block;
  @extend .grid-section;
  grid-area: form-area;
  //grid-area: 2 / 2 / 3 / 3;
}
