* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body > #root > div {
  height: 100vh;
}

.page {
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  height: 97vh;
}

.header {
  display: flex;
  justify-content: space-between;

  font-size: 19px;
  font-family: sans-serif;
  font-style: italic;
  color: dodgerblue;
  grid-area: header;
}

.centered {
  align-self: center;
}

.grid-section {
  padding: 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
}

.input-container {
  display: flex;
  margin-top: 3%;
  align-content: center;
  justify-content: center;
}

.colored-block {
  display: flex;
  place-content: center;
}

.input-section {
  @extend .colored-block;
  grid-area: inputValues;
}

.input-field {
  border-radius: 3px;
  border: 1px solid var(--blue-color);
  background-color: var(--white-color);
}

.input-label {
  justify-self: center;
  align-self: center;
  margin-right: 20px;
}

input:invalid {
  border: none;
  outline: 2px solid var(--destructive-color);
}

